<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IServerMarshall">
                    <security mode="None" />
                </binding>
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/DESERVE/SeExtenderTesting"
                binding="netNamedPipeBinding" bindingConfiguration="NetNamedPipeBinding_IServerMarshall"
                contract="Marshall.IServerMarshall" name="NetNamedPipeBinding_IServerMarshall" />
        </client>
    </system.serviceModel>
</configuration>
